{% extends 'base.html' %}
{% load static %}
{% block title %}资产详情{% endblock %}
{% block css %} {% endblock %}

{% block breadcrumb %}
    <section class="content-header">
      <h1>
        资产详情
        <small>Assets Detail</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页 </a></li>
          <li>资产总表</li>
        <li class="active">资产详情</li>
      </ol>
    </section>

{% endblock %}

{% block content %}

{% endblock %}

{% block script %}

{% endblock %}